body {
  background-color: #e0e0e0;
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 14px;
  color: #323232;
}

.boks {
background-color: #329632;
width: 70%;
height: 60px;
font-size: 45px;
margin: auto;
}
