main>p{
  background-color: green;
  text-align: center;
  padding: 30px;

}
main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 3px;
}
main>header{
  background-color: pink;
}
